# Python
__pycache__/
*.pyc
.pytest_cache/

# Build / packaging output
build/
dist/
*.exe
installer/Output/

# Local database (contains personal data)
*.db

# Exclude installer package because it is huge
installer/